*{
    margin: 0;
    padding: 0;
}
.font{
    font-family: var(--bs-body-font-family);
}
.Icons{
    text-decoration: none; 
    color: black
}
.navbar{
    box-sizing: border-box;
}
.Introduction{
    margin-top: 5rem;
} 
.MyImage{
    box-sizing: border-box;
    border-radius: 100%;
    margin-top: 5rem;
}
.Project-img{
    height: 100%;
    width: 100%;
}
ul li{
    width: 5rem;
    padding: 0 3rem;
    margin: 0 auto;
}
.hii{
    color: black; 
    font-family: 'Dancing Script', cursive; 
    font-size: 8rem;
}
.fs-1{
    color: black;
}
.home_arrow{
    position: relative;
    left: 3rem;
}
.About{
    padding-right: 3rem;
    margin: 1rem; 
    overflow:auto ; 
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15); 
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,.125);
}
.Projects{
    box-sizing: border-box;
    padding-right: 1rem;
    margin: 1rem; 
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15); 
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,.125);
  }
div.About:hover{
      transform: scale(1.03);
      transition: transform .3s;
}
div.skills:hover{
      transform: scale(1.03);
      transition:transform .3s;
}
div.Projects:hover{
        transform: scale(1.03);
        transition:transform .3s;
}
ul {
      box-sizing: border-box;
      margin: 0px;
}
.Skills-img{
    height: 100%;
    width: 100%;
}
.footer-section {
    background: #151414;
    position: relative;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span {
    color: #757575;
    font-size: 15px;
}
.footer-content {
    position: relative;
    z-index: 2;
}
.copyright-area{
    background: #202020;
    padding: 25px 0;
}
.copyright-text p {
    font-size: 14px;
    color: #878787;
}
div.Contact:hover{
    transform: scale(1.05);
      transition:transform .3s;
}
